/target/
/target/*
dms-sorting.qatest/target/
dms-sorting.service.test/target/
.project
/dms-sorting.web/*.project
/dms-sorting.test/*.project
/dms-sorting.data/*.project
*.project
/.settings
/.classpath
/dms-sorting.api/.settings
/dms-sorting.api/*.classpath
/dms-sorting.biz/.classpath
/dms-sorting.biz/.settings
/dms-sorting.common/*.classpath
/dms-sorting.data/*.classpath
/dms-sorting.test/*.classpath
/dms-sorting.web/*.classpath
/bin/
/dms-sorting.biz/config.client.cache
/dms-sorting.biz/config.client.log
/dms-sorting.data/.settings
/dms-sorting.web/.settings
/dms-sorting.common/.settings
/dms-sorting.api/bin
/dms-sorting.biz/bin
/dms-sorting.data/bin
/dms-sorting.web/bin
/dms-sorting.web/hsf.configuration
/dms-sorting.common/bin

/dms-sorting.data/hsf.configuration
/dms-sorting.biz/hsf.configuration
/dms-sorting.test/hsf.configuration/
/dms-sorting.test/.settings/
/dms-sorting.test/bin
/dms-sorting.biz/test-output
/dms-sorting.data/test-output
/logs
/dms-sorting.analysis/*
/.idea
*.iml
/dms-sorting.iml
.DS_Store
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/address/AddressService.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/address/GaodeGeoService.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/address/IAddrSplitService.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/address/impl/AddressServiceImpl.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/address/impl/AddrSplitServiceImpl.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/address/impl/GaodeGeoServiceImpl.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/address/impl/HttpGaodeAddrGeoServiceImpl.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/address/impl/HttpGaodeGeoCoding.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/data/DateSearchUtil.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/data/DoubleArrayTrie$Node.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/data/DoubleArrayTrie$Searcher.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/data/DoubleArrayTrie.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/data/KeywordSortingDATMatcherManager.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/data/RuleSearchService.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/data/impl/RuleSearchServiceImpl.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/diamond/DiamondConstants.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/diamond/DiamondManager.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/enumeration/HandlerTypeEnum.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/handler/AbstractHandler.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/handler/Handler.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/handler/HandlerRegister.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/matcher/AbstractSiteSortingMatcher.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/matcher/AreaIdMatcher.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/matcher/DistanceMatcher.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/matcher/ISiteSortingMatcherHandler.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/matcher/KeywordMatcher.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/matcher/MatcherExecutor.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/matcher/PolygonMatcher.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/model/BaseResult.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/model/SortingObject.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/model/StandardAddress.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/service/ISiteSortingService.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/service/RailKeywordRuleCacheService.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/service/impl/RailKeywordRuleCacheServiceImpl.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/service/impl/SiteSortingServiceImpl.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/util/LogUtil.class
dms-sorting.service/bin/src/main/java/com/cainiao/dms/sorting/util/MonitorLogUtil.class
dms-sorting.service/bin/src/main/resources/spring-context-dms-sorting-test.xml
dms-sorting.service/bin/src/main/resources/spring-context-dms-sorting.xml
dms-sorting.service/bin/.gitignore
dms-sorting.service/bin/pom.xml
dms-sorting.qatest/.classpath
dms-sorting.qatest/.gitignore
dms-sorting.qatest/.settings/org.eclipse.core.resources.prefs
dms-sorting.qatest/.settings/org.eclipse.jdt.core.prefs
dms-sorting.qatest/.settings/org.eclipse.m2e.core.prefs
dms-sorting.service/.classpath
dms-sorting.service.test/.classpath
dms-sorting.service.test/.gitignore
dms-sorting.service.test/.settings/org.eclipse.core.resources.prefs
dms-sorting.service.test/.settings/org.eclipse.jdt.core.prefs
dms-sorting.service.test/.settings/org.eclipse.m2e.core.prefs
dms-sorting.service/.settings/org.eclipse.core.resources.prefs
dms-sorting.service/.settings/org.eclipse.jdt.core.prefs
dms-sorting.service/.settings/org.eclipse.m2e.core.prefs
dms-sorting.web/${warExplodedDirectory}/
